<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Frame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Frame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppName" value="智慧城市建设管理信息系统"/>
    <!--<add key="Enterprise" value="Hy-Xingzhe"/>
    <add key="Logo" value="{0}\Logo.ico"/>
    <add key="Loginor" value="Frame.exe, Frame.FrmLogin"/>
    <add key="LoginBackground" value="{0}\Login.jpg"/>
    <add key="LoginSize" value="400,300" />
    <add key="Version" value="1.0.0.1"/>
-->
    <!--取值在“ACCEES”、“ORACLE”、“SQLSERVER”之中-->
    <!-- 例如
    <add key="Type" value="oracle"></add>
    <add key="ADOConnection" value="Password=SGSDE;Persist Security Info=True;User ID=SGSDE;Data Source=sunz;Min Pool size=7 "/>
    -->
    <add key="ADOType" value="System.Data.OleDb"/>
    <add key="ADOConnection" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0}\SysWorkspace.mdb;"/>


    <!--取值在“PGDB”、“FILEGDB”、“SDE”之中-->
    <add key="WorkspaceType" value="PGDB"/>
    <!--若不在bin目录下直接写路径-->
    <add key="WorkspaceArgs" value="{0}\SysWorkspace.mdb"/>
    <!-- 例如
    <add key="WorkspaceType" value="SDE"/>
    <add key="WorkspaceArgs" value="IP:172.16.1.9;Instance:5151;User:SGSDE;Password:SGSDE"/>
    -->

    <add key="HibernateAssemblys" value="Frame,Hy.Dictionary,Hy.Metadata"/>
    <add key="ResourceManager" value="Esri.Frame.dll,Esri.Frame.EsriResourceManager"/>
    <!--add key="ResourceManager" value="Skyline.Frame.dll,Skyline.Frame.SkylineResourceManager"/-->
   
  </appSettings>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>

      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="show_sql">false</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="connection.release_mode">on_close</property>
      <property name="dialect">NHibernate.Access.AccessDialect, NHibernate.Access</property>
      <property name="connection.driver_class">NHibernate.Access.AccessDriver, NHibernate.Access</property>
      <property name="connection.connection_string">Provider=Microsoft.Jet.OLEDB.4.0;Data Source=SysWorkspace.mdb;Persist Security Info=False</property>
      <property name="adonet.batch_size">100</property>
    </session-factory>
  </hibernate-configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Frame.Properties.Settings>
      <setting name="Logo" serializeAs="String">
        <value>{0}\Logo.ico</value>
      </setting>
      <setting name="Loginor" serializeAs="String">
        <value>Frame.exe, Frame.FrmLogin</value>
      </setting>
      <setting name="LoginBackground" serializeAs="String">
        <value>{0}\Login.jpg</value>
      </setting>
      <setting name="LoginSize" serializeAs="String">
        <value>400,300</value>
      </setting>
      <setting name="EnvironmentCreator" serializeAs="String">
        <value>Frame.exe, Frame.DefaultEnvironmentCreator</value>
      </setting>
      <setting name="Enterprise" serializeAs="String">
        <value>Hy-Xingzhe</value>
      </setting>
    </Frame.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Frame.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>1.0.0.1</value>
      </setting>
    </Frame.Properties.Settings>
  </userSettings>
</configuration>
