<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Frame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppName" value="三维展示平台"/>    
   
    <add key="ADOType" value="System.Data.OleDb"/>              <!--取值为ADONet提供程序FullName-->
    <add key="ADOConnection" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0}\SysWorkspace.mdb;"/> 
    <!-- 例如
    <add key="Type" value="System.Data.Oracle"></add>
    <add key="ADOConnection" value="Password=SGSDE;Persist Security Info=True;User ID=SGSDE;Data Source=sunz;Min Pool size=7 "/>
    -->
   
    <add key="WorkspaceType" value="PGDB"/>                     <!--取值在“PGDB”、“FILEGDB”、“SDE”之中-->
    <add key="WorkspaceArgs" value="{0}\SysWorkspace.mdb"/>     <!--若不在bin目录下直接写路径-->
    <!-- 例如
    <add key="WorkspaceType" value="SDE"/>
    <add key="WorkspaceArgs" value="IP:172.16.1.9;Instance:5151;User:SGSDE;Password:SGSDE"/>
    -->

    <add key="HibernateAssemblys" value="Frame,Hy.Dictionary,Hy.Metadata,Esri.Huidong,Hy.Esri.Catalog,Hy.Esri.DataManage"/>
    <!--add key="ResourceManager" value="Esri.Frame.dll,Esri.Frame.EsriResourceManager"/-->
    <add key="ResourceManager" value="Skyline.Frame.dll,Skyline.Frame.SkylineResourceManager"/>



    <!-- ********************************************* 三维展示平台配置 ************************************************************* -->
    <!-- 可视域分析，配置的原因是因为中文版与英文版不同引起的 -->
    <!-- ** 英文版的值分别为 Root,LeftLimit,RightLimit,Arc, Visible Area,Invisible Area -->
    <!-- ** 中文版（或其它版本）的值请在TE中做一次可视域分析后查看相应值 -->
    <add key="ViewshedRoot" value="Root"/>
    <add key="ViewshedLeft" value="LeftLimit"/>
    <add key="ViewshedRight" value="RightLimit"/>
    <add key="ViewshedArc" value="Arc"/>
    <add key="ViewshedVisible" value="Visible Area"/>
    <add key="ViewshedInvisible"  value="Invisible Area"/>

    <add key="SWBuffer" value=""/>
    <add key="RWBuffer" value=""/>
    <add key="APBuffer" value=""/>
    <add key="Subway" value="62107.58,46125.08,2,62049.76,46195.20,2,62308.97,46375.49,2,62393.30,46440.89,2,62473.79,46517.00,2,62575.24,46633.34,2,62686.01,46517.79,2,62803.03,46409.81,2,62932.071531,46285.253872,2"/>
    <add key="Railway" value="62107.58,46125.08,2,62049.76,46195.20,2,61784.01,46505.54,2,61680.06,46625.82,2,61601.76,46741.00,2,61471.90506,46962.413012,2"/>
    <add key="Airport" value="62107.58,46125.08,2,62166.52,46057.06,2,62270.78,45916.50,2,62361.41,45717.06,2,62409.51,45534.18,2,62434.42,45296.18,2,62455.51,45036.31,2,62441.90,44886.76,2,62373.40879,44696.687241,2"/>
    <add key="LestPoints" value="62310.06,46374.08,2,62053.52,46192.94,2,61995.50,46155.71,2,61955.99,46129.37,2,61911.63,46108.71,2,61850.92,46096.63,2,61790.21,46097.83,2"/>
    <add key="RoutePoints" value="62310.06,46374.08,2,62274.53,46413.62,2,62015.13,46234.19,2,62053.52,46192.94,2,61995.50,46155.71,2,61955.99,46129.37,2,61911.63,46108.71,2,61850.92,46096.63,2,61790.21,46097.83,2"/>
    <add key="FloorPath" value="楼层"/>
    <add key="ModelField" value="TE_FNAME"/>
    <add key="ModelPath" value="E:\sddl_X\XPL\"/>
    <add key="PreBuildEvents" value="正在读取房屋数据...|1000;正在读取影像...|2000;正在读取墙面贴图...|1000;"/>
    <add key="BuildingCount" value="3"/>
    <add key="BuildingEvnets" value="正在生成墙面...|100;正在计算纹理重复度...|150;正在匹配贴图...|100;正在保存模型...|200;"/>

    <add key="CrossLayer" value="路口\Cross" />
    <add key="LampModelFile" value="E:\sgdl\红绿灯.xpl2" />
    <add key="PipedFileList" value="SG440203103000_SG01X_bui_65_02_05.xpl2,SG440203103000_SG01X_bui_65_02_02.xpl2,SG440203103000_SG01X_bui_65_01_05.xpl2,SG440203103000_SG01X_bui_65_01_04.xpl2,SG440203103000_SG01X_bui_65_01_02.xpl2,SG440203103000_SG01X_bui_65_01_03.xpl2,SG440204103000_JFL_12X_bui01_03.xpl2,SG440204103000_JFL_12X_bui01_01.xpl2,SG440204103000_JFL_12X_bui01_04.xpl2,SG440204103000_FXL_20X_bui01_03.xpl2,SG440204103000_FXL_20X_bui01_06.xpl2,SG440204103000_FXL_20X_bui01_07.xpl2,SG440204103000_FXL_20X_bui01_08.xpl2,SG440204103000_FXL_20X_bui01_04.xpl2"/>
    <add key="LabelModelFile" value="C:\Program Files (x86)\Skyline\TerraExplorer Pro\Resources\defaulticon.gif"/>
    <add key="NavigateOffset" value="20"/>
    <add key="HeightSleep" value="10"/>
    <add key="BuildingSleep" value="20"/>
    <add key="LampOffset" value="3"/>
    <add key="RawOffset" value="-10"/>
    <add key="ModleTable" value="FWMODEL"/>
    <add key="ModelID" value="ModelID"/>
    <add key="LayerPath" value="小区建筑\Building"/>
    
    <add key="ShadowURL" value="C:\Program Files (x86)\Skyline\TerraExplorer Pro\Tools\ShadowTool\shadow.htm" />
    <add key="District" value="全部/公安地税区块/金融区块/行政服务区块/商务区块" />
    <!-- ************************************************************************************************************************ -->
   
  </appSettings>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="show_sql">false</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="connection.release_mode">on_close</property>
      <property name="dialect">NHibernate.Access.AccessDialect, NHibernate.Access</property>
      <property name="connection.driver_class">NHibernate.Access.AccessDriver, NHibernate.Access</property>
      <property name="adonet.batch_size">100</property>
    </session-factory>
  </hibernate-configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Frame.Properties.Settings>
      <setting name="Logo" serializeAs="String">
        <value>{0}\Logo.ico</value>
      </setting>
      <setting name="Loginor" serializeAs="String">
        <value>Frame.exe, Frame.FrmLogin</value>
      </setting>
      <setting name="LoginBackground" serializeAs="String">
        <value>{0}\Login.jpg</value>
      </setting>
      <setting name="LoginSize" serializeAs="String">
        <value>400,300</value>
      </setting>
      <setting name="EnvironmentCreator" serializeAs="String">
        <value>Frame.exe, Frame.DefaultEnvironmentCreator</value>
      </setting>
      <setting name="Enterprise" serializeAs="String">
        <value>Hy-Xingzhe</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>1.0.0.1</value>
      </setting>
      <setting name="LogCacheCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LogTableName" serializeAs="String">
        <value>T_Sys_Log</value>
      </setting>
      <setting name="SkinName" serializeAs="String">
        <value>Black</value>
      </setting>
    </Frame.Properties.Settings>
  </applicationSettings>
</configuration>
